<!-- views/category-page.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.name %> Kategoriyasi</title>
</head>

<body>
    <h1><%= category.name %> Kategorisi</h1>

    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(product => { %>
                <li><%= product.name %> - <%= product.description %> - <%= product.price %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Bu kategoriyada mal yoxdur.</p>
    <% } %>
</body>

</html>
